$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// $background-color: #4e4e4e;
$background-color: #fff;
$font-color: #dfdfdf;
$white: #fff;
$button-color: #008080;
$width: 600px;
$p-color: #f00;

body {
  background-color: $background-color;
  color: $font-color;
}

.box {
  border: 1px solid $white;
  display: table-cell;
  padding: 16px;
  width: 10%;
}

.btn-primary {
  background-color: $button-color;
  margin-right: 15px;
}

.span4 {
  display: table-cell;
  float: left;
}

h2 {
  clear: left;
  padding-top: 20px;
}

p {
  color: $p-color;
}

h5 {
  color: $button-color;
}
